@using FurnitureAssemblyContracts.ViewModels;
@using FurnitureAssemblyDataModels.Enums;

@model List<SetViewModel>

@{
    ViewData["Title"] = "Создание заказа";
}
<div class="text-center">
    <h2 class="display-4">Создание заказа</h2>
</div>
<form method="post">
    <div class="row">
        <div class="col-4">Имя заказчика:</div>
        <div class="col-8"><input type="text" name="name" id="name" /></div>
    </div>
    <div class="row">
        <div class="col-4">Тип оплаты:</div>
        <div class="col-8">
            <select name="paymentType">
                <option id="@PaymentType.Картой" selected value="@PaymentType.Картой">Картой</option>
                <option id="@PaymentType.Наличными" value="@PaymentType.Наличными">Наличными</option>
                <option id="@PaymentType.Смешанный" value="@PaymentType.Смешанный">Смешанный</option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Название
                </th>
                <th>
                    Стоимость
                </th>
                <th>
                    Дата создания
                </th>
                <th>
                    Количество
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" name="setIds[]" value="@item.Id" id="@item.Id">
					</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreate)
                    </td>
                    <td>
                        <input type="text" id="@item.Id:count" name="counts[]" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btn-primary" /></div>
    </div>
</form>
